.login-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    padding-right: 10%;
    /* padding: 0 20px; You can adjust padding as needed */
    /* background-color: white; */
  }
  

  .login-form {
    width: 280px;
    padding: 30px;
    /* margin-right: auto; */
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .login-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }